/* CUSTOMIZE THE NEWS SECTION
-------------------------------------------------- */

.news-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the news headings */
.news-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.05rem;
}

.news-image {
    border-radius: 10%;
    width: 400px;
    height: 400px;
    object-fit: cover;
}